.announcement-bar {
	align-items: center;
	background: rgb(var(--section-background));
	display: flex;
	margin-bottom: var(--vertical-breather, 0);
	margin-top: var(--vertical-breather, 0);
	z-index: var(--z-index-announcement-bar);
}

.announcement-bar--bordered {
	box-shadow: inset 0 -1px 0 0 rgb(var(--border-color));
}

.announcement-bar__wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
}

.announcement-bar--multiple .announcement-bar__wrapper {
	justify-content: space-between;
}

.announcement-bar__item {
	display: block;
}

.announcement-bar__item[hidden] {
	height: 0;
	visibility: hidden;
}

.announcement-bar__message {
	padding-bottom: var(--padding-bottom-mobile, 8px);
	padding-top: var(--padding-top-mobile, 8px);
	text-align: center;
	z-index: 1;
}

.announcement-bar__message > * {
	margin: 0;
	padding: 0;
}

.announcement-bar__block-background {
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 740px) {
	[dir="ltr"] .announcement-bar--multiple .announcement-bar__button-previous,
	[dir="rtl"] .announcement-bar--multiple .announcement-bar__button-next {
		left: calc(-1 * (var(--container-gutter) / 2));
	}

	[dir="rtl"] .announcement-bar--multiple .announcement-bar__button-previous,
	[dir="ltr"] .announcement-bar--multiple .announcement-bar__button-next {
		right: calc(-1 * (var(--container-gutter) / 2));
	}
}

@media screen and (min-width: 741px) {
	.announcement-bar {
		position: relative;
	}

	.announcement-bar__list {
		padding-inline: 20px;
	}

	.announcement-bar__message {
		max-width: 741px;
		min-width: 100%;
		padding-bottom: var(--padding-bottom-desktop, 8px);
		padding-top: var(--padding-top-desktop, 8px);
	}
}

.shopify-section--header ~ .shopify-section--announcement-bar {
	top: calc(var(--enable-sticky-announcement-bar) * var(--enable-sticky-header, 0) * var(--header-height, 0px)) !important;
}
