/* --------------------------------
File#: _1_ticker
Title: Ticker
Descr: News-like Horizontal Scrolling List
// Usage: bryan@screamingmouse.co
-------------------------------- */
:root {
	/* colors */
	--tt9-color-primary-hsl: 250, 84%, 54%;
	--tt9-color-bg-hsl: 0, 0%, 100%;
	--tt9-color-contrast-high-hsl: 230, 7%, 23%;
	--tt9-color-contrast-higher-hsl: 230, 13%, 9%;
	--tt9-color-contrast-low-hsl: 240, 4%, 65%;
}

.ticker {
	overflow: hidden;
}

.ticker__list {
	-webkit-backface-visibility: hidden;
	align-items: center;
	backface-visibility: hidden;
	display: flex;
	overflow: hidden;
	padding-left: var(--container-gutter);
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	transform: translateZ(0px);
	will-change: transform;
}

.ticker__list::-webkit-scrollbar {
	display: none;
	height: 0;
	width: 0;
}

/* class added in JS to trigger the scrolling animation */
.ticker--animate .ticker__list {
	-webkit-animation: ticker-animation var(--ticker-animation-duration) infinite;
	animation: ticker-animation var(--ticker-animation-duration) infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* pause animation on hover or using an external control button */
.ticker[data-ticker-animation="off"] .ticker__list,
.ticker[data-ticker-pause-hover="on"] .ticker__list:hover,
.ticker--paused .ticker__list {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

/* .ticker[data-ticker-animation=off] .ticker__list {
  overflow: hidden;
} */

.ticker__item {
	align-items: center;
	display: inline-flex;
	flex-shrink: 0;
	margin-left: calc(var(--ticker-gap-x) / 2);
	margin-right: calc(var(--ticker-gap-x) / 2);
}

.ticker__item:first-child {
	margin-left: 0;
}

.ticker__image-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	-webkit-margin-start: var(--ticker-gap-x);
	margin-inline-start: var(--ticker-gap-x);
}

.ticker__img {
	width: var(--ticker-img-width);
}

.ticker-control {
	background-color: hsla(var(--tt9-color-contrast-higher-hsl), 0.75);
	border-radius: 50%;
	display: inline-flex;
	height: 40px;
	transition: 0.2s;
	width: 40px;
}

.ticker-control i {
	color: hsl(var(--tt9-color-bg-hsl));
	display: block;
	height: 16px;
	margin: auto;
	position: relative;
	width: 16px;
}

.ticker-control i::before,
.ticker-control i::after {
	background-color: currentColor;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: -webkit-clip-path 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: clip-path 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: clip-path 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-clip-path 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	width: 100%;
}

.ticker-control i::before {
	-webkit-clip-path: polygon(1px 1px, 5px 1px, 5px calc(100% - 1px), 1px calc(100% - 1px));
	clip-path: polygon(1px 1px, 5px 1px, 5px calc(100% - 1px), 1px calc(100% - 1px));
}

.ticker-control i::after {
	-webkit-clip-path: polygon(calc(100% - 5px) 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), calc(100% - 5px) calc(100% - 1px));
	clip-path: polygon(calc(100% - 5px) 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), calc(100% - 5px) calc(100% - 1px));
}

.ticker-control:hover {
	background-color: hsla(var(--tt9-color-contrast-higher-hsl), 0.95);
	cursor: pointer;
}

.ticker-control[aria-pressed="true"] i::before {
	-webkit-clip-path: polygon(2px 0%, 100% 50%, 100% 50%, 2px 100%);
	clip-path: polygon(2px 0%, 100% 50%, 100% 50%, 2px 100%);
}

.ticker-control[aria-pressed="true"] i::after {
	-webkit-clip-path: polygon(calc(100% - 5px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 5px) calc(100% - 1px));
	clip-path: polygon(calc(100% - 5px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 1px) calc(100% - 1px), calc(100% - 5px) calc(100% - 1px));
}

/* ticker--anim-off class turns off translate animation - added in JS if reduced-motion option is on */
.ticker:not(.ticker--anim-off) .ticker__list {
	overflow: visible;
}

.ticker--reverse:not(.ticker--anim-off) .ticker__list {
	flex-direction: row-reverse;
}

.ticker--reverse.ticker--animate:not(.ticker--anim-off) .ticker__list {
	-webkit-animation-name: ticker-animation-reverse;
	animation-name: ticker-animation-reverse;
	transform: translateX(calc(100vw - 100%));
}

/* intermediate steps are added to fix a bug on Safari */
@-webkit-keyframes ticker-animation {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

@keyframes ticker-animation {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-50%);
	}
}

@-webkit-keyframes ticker-animation-reverse {
	0% {
		transform: translateX(calc(100vw - 100%));
	}

	100% {
		transform: translateX(calc(100vw - 50%));
	}
}

@keyframes ticker-animation-reverse {
	0% {
		transform: translateX(calc(100vw - 100%));
	}

	100% {
		transform: translateX(calc(100vw - 50%));
	}
}

/* utility classes */
.tt9-items-center {
	align-items: center;
}

.tt9-fill-current {
	fill: currentColor;
}

.tt9-hide {
	display: none !important;
}
