.readmore-container {
  position: relative;
}

.readmore-short,
.readmore-full {
  display: none;
  overflow: hidden;
}

[dir="ltr"] .readmore-short,
[dir="ltr"] .readmore-full {
  text-align: left;
}

[dir="rtl"] .readmore-short,
[dir="rtl"] .readmore-full {
  text-align: right;
}

.readmore-short[aria-hidden='false'],
.readmore-full[aria-hidden='false'] {
  display: block;
}

.read-link {
  color: rgb(var(--text-color-subdued));
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-color: rgba(var(--text-color), 0.35);
  text-decoration-color: rgba(var(--text-color), 0.35);
  transition: color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
  transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
}

.read-link:hover,
.read-link:focus {
  color: rgb(var(--text-color));
  will-change: color;
}
