/** -------------------------------------------------------------
 ** PAGINATION
------------------------------------------------------------- **/
.pagination__outer {
	-webkit-padding-after: var(--vertical-breather);
	padding-block-end: var(--vertical-breather);
	-webkit-padding-before: var(--vertical-breather);
	padding-block-start: var(--vertical-breather);
}

.pagination--narrow .pagination__outer {
	padding: 0;
}

.pagination__list {
	display: flex;
	grid-gap: var(--gutter-layout-row);
	gap: var(--gutter-layout-row);
	justify-content: center;
	list-style: none;
	margin-block: 0;
	-webkit-margin-end: -16px;
	margin-inline-end: -16px;
	padding: 0;
	width: 100%;
}

.pagination--narrow .pagination__list {
	justify-content: end;
}

.pagination__pages {
	align-items: center;
	display: inline-flex;
}

.pagination__arrow {
	align-items: center;
	background: rgb(var(--background-light));
	border-radius: 50rem;
	color: currentColor;
	display: inline-flex;
	justify-content: center;
	line-height: 0;
}

.pagination__arrow .icon {
	pointer-events: none;
}

.pagination__arrow--left .icon {
	-webkit-margin-start: -2px;
	margin-inline-start: -2px;
}

.pagination__arrow--right .icon {
	-webkit-margin-end: -2px;
	margin-inline-end: -2px;
}

.pagination__arrow-link,
.pagination__pages-item {
	align-items: center;
	color: currentColor;
	display: flex;
	height: 100%;
	justify-content: center;
	line-height: 0;
	height: 42px;
	padding: 0;
	text-decoration: none;
	transition: color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 42px;
}

.pagination--narrow .pagination__arrow-link {
	background-color: rgb(var(--border-color-light));
	border-radius: var(--button-border-radius);
	height: 40px;
	width: 40px;
}

.pagination--narrow .pagination__arrow.is-disabled .pagination__arrow-link,
.pagination--narrow .pagination__arrow:disabled .pagination__arrow-link {
	background-color: transparent;
}

.pagination__pages-item {
	position: relative;
}

@media screen and (pointer: fine) {

	[data-page].pagination__pages-item:not(.is-disabled):hover,
	[data-page].pagination__pages-item:not([aria-current]):hover {
		text-decoration: underline;
		-webkit-text-decoration-line: underline;
		text-decoration-line: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 3px;
		transition: color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
		transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: text-decoration-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-text-decoration-color 0.2s ease-in-out;
	}
}

.pagination__pages-item[aria-current]::before {
	background-color: transparent;
	box-shadow: inset 0 -1px 0 0 currentColor;
	bottom: 0;
	content: "";
	left: 0;
	max-height: 100%;
	max-width: 100%;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.pagination__nav-item-shape--button.pagination__pages-item[aria-current]::before {
	background: rgb(var(--background-light));
	border-radius: var(--button-border-radius);
	box-shadow: none;
}

.pagination__nav-item-shape--circle.pagination__pages-item[aria-current]::before {
	background: rgb(var(--background-light));
	border-radius: 50rem;
	box-shadow: none;
}

.pagination__nav-item-shape--square.pagination__pages-item[aria-current]::before {
	background: rgb(var(--background-light));
	box-shadow: none;
}

/* @media screen and (min-width: 741px) {
	.pagination {
		margin-top: 40px;
	}
} */

.pagination__page-current {
	color: rgb(var(--text-color));
	font-weight: var(--text-font-weight);
}

.pagination__page-total {
	color: rgb(var(--text-color-subdued));
	display: block;
	font-weight: var(--text-font-weight);
	margin: 0;
}

.pagination.pagination--narrow {
	grid-area: pagination-narrow;
	margin: 0;
}

.pagination__arrow.is-disabled,
.pagination__arrow:disabled,
.pagination__pages-item.is-disabled,
.pagination__pages-item:disabled {
	background: transparent;
	color: rgb(var(--text-color-mutedddd));
	cursor: not-allowed;
	pointer-events: none;
}
