@media screen and (min-width: 1200px) {
  .blog .article-list {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .blog .article-list {
    --article-list-row-gap: var(--gutter-layout-large);
    --article-list-column-gap: var(--gutter-layout-small);
  }
}
