/* Style the dropdown container */
.select-dropdown {
	align-items: center;
	display: flex;
	height: 40px;
	justify-content: start;
	position: relative;
	transition: color 0.2s ease-in-out;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.select-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: rgb(var(--background));
	border-radius: var(--button-border-radius);
	border: none;
	box-shadow: inset 0 -1px 0 rgb(var(--border-color-strong)), inset -1px 0 0 rgb(var(--border-color)), inset 1px 0 0 rgb(var(--border-color)), inset 0 1px 0 rgb(var(--border-color));
	outline: none;
	height: 100%;
	-webkit-padding-end: calc(var(--space-form-element) * 2);
	padding-inline-end: calc(var(--space-form-element) * 2);
	-webkit-padding-start: var(--space-form-element);
	padding-inline-start: var(--space-form-element);
	position: relative;
	text-transform: none;
	white-space: nowrap;
	width: 100%;
	will-change: box-shadow, color;
}

.select-input:focus,
.select-input:hover {
	box-shadow: inset 0 -1px 0 rgb(var(--border-color)), inset -1px 0 0 rgb(var(--border-color-strong)), inset 1px 0 0 rgb(var(--border-color-strong)), inset 0 1px 0 rgb(var(--border-color-strong));
	transition: box-shadow 0.2s linear;
}

.select-dropdown .icon {
	cursor: pointer;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

[dir="ltr"] .select-dropdown .icon {
	right: var(--space-icon-large);
}

[dir="rtl"] .select-dropdown .icon {
	left: var(--space-icon-large);
}

.select-input--solid {
	background: rgb(var(--background-muted));
	box-shadow: none;
}

.select-input:focus,
.select-input:hover {
	background: rgb(var(--background-light));
	box-shadow: none;
}

/* Main Container */
.vendor-directory-title {
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.vendor-directory-subtitle {
	grid-column: 1 / -1;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: var(--gutter-layout-row);
}

.vendor-directory {
	display: grid;
	grid-column-gap: var(--gutter-layout-column);
	-moz-column-gap: var(--gutter-layout-column);
	column-gap: var(--gutter-layout-column);
	grid-template-columns: repeat(12, 1fr);
}

.vendor-directory-meta-bar {
	align-items: center;
	background-color: rgb(var(--background));
	grid-column: 1 / -1;
	height: auto;
	justify-content: space-between;
	min-height: auto;
	position: -webkit-sticky;
	position: sticky;
	top: calc(var(--header-height, 0px) * var(--enable-sticky-header) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) - 0px);
	transition: min-height 0.2s ease, padding 0.2s ease;
	width: 100%;
	z-index: 3;
}

@media (min-width: 1000px) {
	.vendor-directory-meta-bar {
		grid-column-gap: var(--gutter-layout-column);
		-moz-column-gap: var(--gutter-layout-column);
		column-gap: var(--gutter-layout-column);
		display: inline-flex;
	}
}

.scrolled-past-header .vendor-directory-meta-bar {
	padding-bottom: var(--space-xsmall);
	padding-top: var(--space-small);
	min-height: var(--header-height-without-bottom-nav);
	will-change: padding;
}

@supports ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) {
	.vendor-directory-meta-bar {
		-webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
		backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
		background-color: rgba(var(--background), 0.5);
	}
}

.filter-bar {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	overflow-x: auto;
	white-space: nowrap;
}

@media (max-width: 999px) {
	.filter-bar:not(:only-child) {
		margin-top: var(--gutter-layout-row);
	}

	.filter-bar {
		width: 100%;
	}
}

.vendor-section {
	grid-column: 1 / -1;
	height: auto;
	overflow: auto;
}

.vendor-names {
	border-radius: var(--block-border-radius);
	box-shadow: inset 0 0 0 1px rgb(var(--border-color));
	display: grid;
	grid-gap: 0;
	gap: 0;
	grid-template-columns: repeat(12, 1fr);
	justify-content: space-between;
	overflow: visible;
	padding: calc(var(--gutter-layout-row) / 2);
}

.vendor-section .vendor-section-header {
	grid-column: 1 / -1;
	line-height: 1;
	margin-bottom: var(--space-xlarge);
}

.vendor-section:not(:first-child) {
	margin-top: var(--space-xlarge);
}

.vendor-name {
	align-items: center;
	box-sizing: border-box;
	display: inline-flex;
	grid-column-end: span calc(12 / 1);
	margin: calc(var(--gutter-layout-row) / 2);
}

@media (max-width: 999px) {
	.vendor-name {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}

@media (min-width: 1000px) {
	.vendor-name {
		grid-column-end: span calc(12 / 3);
	}
}

@media (min-width: 1400px) {
	.vendor-name {
		grid-column-end: span calc(12 / 4);
	}
}

.avatar-image {
	background-color: rgb(var(--product-background-color));
	border-radius: var(--button-border-radius);
	display: block;
	height: 48px;
	-webkit-margin-end: var(--gutter-layout-small);
	margin-inline-end: var(--gutter-layout-small);
	overflow: hidden;
	width: 48px;
}

@media (max-width: 999px) {
	.avatar-image {
		-webkit-margin-end: 0;
		margin-inline-end: 0;
		-webkit-margin-start: var(--gutter-layout-small);
		margin-inline-start: var(--gutter-layout-small);
	}
}

.avatar-image--placeholder {
	pointer-events: none;
}

.avatar-image--small {
	height: 32px;
	width: 32px;
}

.avatar-image--medium {
	height: 40px;
	width: 40px;
}

.avatar-image--xlarge {
	height: 56px;
	width: 56px;
}

.avartar-img {
	height: inherit;
	-o-object-fit: cover;
	object-fit: cover;
	width: inherit;
}

.vendor-name-heading {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}

.product-count,
.vendor-tags {
	line-height: 1;
	-webkit-margin-start: var(--space-icon-xsmall);
	margin-inline-start: var(--space-icon-xsmall);
}

.vendor-tags {
	align-items: center;
	display: inline-flex;
}

.vendor-tag {
	border-radius: var(--color-swatch-border-radius);
	display: inline-block;
	height: 10px;
	-webkit-margin-end: 6px;
	margin-inline-end: 6px;
	width: 10px;
}

.vendor-tag--small {
	height: 8px;
	width: 8px;
}

.no-vendors {
	grid-column: 1 / -1;
}
