/* Top navigation */
.article__nav {
  background-color: rgba(var(--background), 0.5);
  display: block;
  opacity: 0;
  margin-top: calc(var(--header-height) * -1);
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--header-height) / 2 * -1);
  transform: translateY(calc(var(--header-height) + var(--vertical-breather) * -1));
  transition: 0.3s top cubic-bezier(.4, 0, .2, 1), 0.5s margin-top cubic-bezier(.4, 0, .2, 1), 0.3s opacity cubic-bezier(.4, 0, .2, 1), 0.3s transform cubic-bezier(.4, 0, .2, 1), 0.3s visibility cubic-bezier(.4, 0, .2, 1);
  visibility: hidden;
  width: 100%;
  will-change: top, margin-top, opacity, transform, visibility;
  z-index: var(--z-index-fixed-element);
}

.scrolled-past-header .article__nav {
  top: calc(var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar, 0) + var(--header-height, 0px) * var(--enable-sticky-header, 0));
  will-change: top;
}

@media (min-width: 741px) {
  .scrolled-past-header .article__nav {
    margin-top: 0;
    will-change: margin-top;
  }
}

[dir="ltr"] .article__nav {
  right: 0;
}

[dir="rtl"] .article__nav {
  left: 0;
}

@supports ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) {
  .article__nav {
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    background-color: rgba(var(--background), 0.5);
  }
}

.article__nav.is-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  will-change: transform, opacity, visibility;
}

@media screen and (max-width: 740px) {
  .article__nav.is-visible {
    left: 0;
    position: fixed;
    right: 0;
    transform: translateY(100%);
    width: 100%;
  }
}

[dir="ltr"] .article__nav::after {
  left: 0;
}

[dir="rtl"] .article__nav::after {
  right: 0;
}

.article__nav::after {
  background: currentColor;
  bottom: 0;
  box-shadow: 0 1px currentColor;
  content: "";
  height: 2px;
  position: absolute;
  transform-origin: var(--transform-origin-start);
  transform: scaleX(var(--transform));
  width: 100%;
}

.article__nav-wrapper {
  align-items: center;
  display: flex;
  position: relative;
  height: var(--header-height);
}

.article__nav-item {
  align-items: center;
  display: flex;
}

.article__nav-item-title {
  max-width: 150px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article__nav-item-title {
  -webkit-margin-start: var(--space-icon-xsmall);
  margin-inline-start: var(--space-icon-xsmall);
}

[dir="ltr"] .article__nav-item--next .article__nav-arrow {
  margin-left: var(--space-large);
}

[dir="rtl"] .article__nav-item--next .article__nav-arrow {
  margin-right: var(--space-large);
}

[dir="ltr"] .article__nav-item--prev .article__nav-arrow {
  margin-right: var(--space-large);
}

[dir="rtl"] .article__nav-item--prev .article__nav-arrow {
  margin-left: var(--space-large);
}

.article__reading-time {
  flex-shrink: 0;
}

@media screen and (max-width: 740px) {
  .article__nav-item {
    justify-content: center;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    width: 100%;
    will-change: transform;
  }

  [dir="ltr"] .article__nav-item--next {
    left: 0;
  }

  [dir="rtl"] .article__nav-item--next {
    right: 0;
  }

  .article__nav-item--next {
    align-items: baseline;
    opacity: 0;
    position: absolute;
    transform: translateY(-6px);
    transition-delay: 0s;
    visibility: hidden;
  }

  .article__nav-item--current {
    transition-delay: 0.15s;
  }

  [dir="ltr"] .article__nav-arrow {
    margin-left: auto;
  }

  [dir="rtl"] .article__nav-arrow {
    margin-right: auto;
  }

  .article__nav-arrow {
    align-self: center;
  }

  .article__nav--show-next .article__nav-item--current {
    opacity: 0;
    transform: translateY(6px);
    transition-delay: 0s;
  }

  .article__nav--show-next .article__nav-item--next {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.15s;
    visibility: visible;
  }
}

@media screen and (min-width: 741px) {
  .article__nav-wrapper {
    justify-content: center;
  }

  .article__nav-item--prev,
  .article__nav-item--next {
    position: absolute;
  }

  [dir="ltr"] .article__nav-item--prev {
    left: 0;
  }

  [dir="rtl"] .article__nav-item--prev {
    right: 0;
  }

  [dir="ltr"] .article__nav-item--next {
    right: 0;
  }

  [dir="rtl"] .article__nav-item--next {
    left: 0;
  }

  /* .article__nav-item-title {
    max-width: 100px;
  } */

  .article__nav-item--prev .article__nav-item-title,
  .article__nav-item--next .article__nav-item-title {
    opacity: 0;
    transform: translateY(-6px);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    will-change: transform;
  }

  .article__nav-item:hover .article__nav-item-title,
  .article__nav-item:focus .article__nav-item-title {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 1000px) {
  .article__nav-wrapper {
    padding: 27px 0;
  }
}

/* Inner part */
@media screen and (min-width: 1200px) {
  .article__inner {
    min-height: 200px;
  }
}

/* Grid setup */
.article-container {
  --left-section-padding: 0px;
  display: grid;
  grid-gap: var(--gutter-layout-column);
  gap: var(--gutter-layout-column);
  grid-template-columns: repeat(12, 1fr);
}

/* Small screens (max-width: 740px) */
@media (max-width: 740px) {

  .article-left-section,
  .article-right-section {
    grid-column: span 12;
  }
}

/* Medium screens (min-width: 741px) and (max-width: 999px) */
@media (min-width: 741px) {

  .article-left-section,
  .article-right-section {
    grid-column: span 12;
  }
}

/* Large screens (min-width: 1000px) and (max-width: 1199px) */
@media (min-width: 1000px) {

  .article-left-section {
    grid-column: span 5;
  }

  .article-right-section {
    grid-column: span 7;
  }
}

/* Extra-large screens (min-width: 1200px) and (max-width: 1399px) */
@media (min-width: 1200px) {

  .article-left-section,
  .article-right-section {
    grid-column: span 6;
  }
}

/* Giant screens (min-width: 1400px) */
@media (min-width: 1400px) {

  .article-left-section,
  .article-right-section {
    grid-column: span 6;
  }
}

/* Left section */
.article-left-section {
  border-radius: 0 var(--block-border-radius) var(--block-border-radius) 0;
  padding-bottom: var(--left-section-padding);
  -webkit-padding-end: var(--left-section-padding);
  padding-inline-end: var(--left-section-padding);
  -webkit-padding-start: var(--left-section-padding);
  padding-inline-start: var(--left-section-padding);
  padding-top: var(--left-section-padding);
}

@media (max-width: 999px) {
  .article-left-section {
    position: relative;
  }
}

@media (min-width: 1000px) {
  .article-left-section {
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--header-height, 0px) * var(--enable-sticky-header, 0) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar, 0));
    transition: height 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    will-change: height;
  }

  .article-left-section {
    /* No sticky announcement + No sticky header */
    height: calc(var(--window-height) - var(--announcement-bar-height, 0px) + var(--scroll-past-top-announcement, 0px) - var(--header-height, 0px) + var(--scroll-past-top-header, 0px));
  }

  .has-sticky-announcement-bar.has-sticky-header .article-left-section {
    /* Yes sticky announcement + Yes sticky header */
    height: calc(var(--window-height) - var(--announcement-bar-height, 0px) - var(--header-height, 0px));
  }

  .has-sticky-announcement-bar .article-left-section {
    /* Yes sticky announcement + No sticky header */
    height: calc(var(--window-height) - var(--announcement-bar-height, 0px) - var(--header-height, 0px) + var(--scroll-past-top-header, 0px));
  }

  .has-sticky-header .article-left-section {
    /* No sticky announcement + Yes sticky header */
    height: calc(var(--window-height) - var(--announcement-bar-height, 0px) + var(--scroll-past-top-announcement, 0px) - var(--header-height, 0px));
  }
}

@media (max-width: 740px) {
  .article-left-section.has-padding.collapse-padding {
    padding: 0;
  }
}

.article-left-section .article-image-wrapper {
  background-color: rgb(var(--product-background-color));
  overflow: hidden;
}

@media (max-width: 740px) {
  .article-left-section .article-image-wrapper {
    border-radius: var(--block-border-radius);
  }

  .article-left-section.has-padding.collapse-padding .article-image-wrapper {
    border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
  }
}

@media (min-width: 1000px) {
  .article-left-section.has-padding .article-image-wrapper {
    border-radius: var(--block-border-radius);
  }
}

@media (max-width: 999px) {
  .article-image {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
  }
}

/* Article image */
@media (min-width: 1000px) {
  .article-image-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .article-image {
    bottom: 0;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

/* Right section */
.article-right-section {
  -webkit-padding-end: var(--container-gutter);
  padding-inline-end: var(--container-gutter);
}

@media (max-width: 999px) {
  .article-right-section {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }
}

/* Right section content */
.article__outer {
  align-items: flex-start;
  display: flex;
  position: relative;
}

/* Article share */
.article__share {
  /* padding-top: max(calc(var(--container-gutter) / 2), var(--left-section-padding)); */
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  height: calc(var(--window-height) - var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) - var(--header-height, 0px) * var(--enable-sticky-header));
  justify-content: center;
  pointer-events: auto;
  position: -webkit-sticky;
  position: sticky;
  padding-bottom: calc(var(--announcement-bar-height, 0px) * 2 + var(--header-height, 0px) * 2);
  right: 0;
  top: calc(var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) + var(--header-height, 0px) * var(--enable-sticky-header));
  z-index: 1;
}

@media (min-width: 741px) {

  .article__share {
    -webkit-margin-start: calc(var(--container-gutter) / 2 * -1 - var(--left-section-padding) / 2);
    margin-inline-start: calc(var(--container-gutter) / 2 * -1 - var(--left-section-padding) / 2);
  }
}

.article__share-button-list {
  align-items: center;
  background-color: rgba(var(--root-background), 0.5);
  border-radius: 0 var(--window-border-radius-reduced) var(--window-border-radius-reduced) 0;
  border: solid rgb(var(--border-color));
  border-width: 1px 1px 1px 0px;
  box-shadow: var(--shadow-overlays);
  color: rgb(var(--root-text-color));
  display: grid;
  grid-auto-flow: row;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: var(--vertical-breather);
  padding: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@supports ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) {
  .article__share-button-list {
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    background-color: rgba(var(--root-background), 0.5);
  }
}

.article__share-button-item {
  align-items: center;
  border-radius: var(--window-border-radius-reduced-inner);
  display: flex;
  height: 32px;
  justify-content: center;
  position: relative;
  transition: background 0.2s ease-in-out;
  width: 32px;
}

.article__share-button-item:focus,
.article__share-button-item:hover {
  background: rgb(var(--background-light));
  will-change: background;
}

.article__share-button-item .icon {
  --icon-height: 14px;
  --icon-width: 14px;
  display: block;
  height: var(--icon-height);
  margin: auto;
  position: relative;
  transition: color .2s;
  width: var(--icon-width);
}

@media (min-width: 1000px) {
  .article__share-button-item .icon {
    --icon-height: 16px;
    --icon-width: 16px;
  }
}

/* Article meta */
.article__meta {
  display: grid;
  grid-gap: var(--gutter-layout-column);
  gap: var(--gutter-layout-column);
  padding-top: var(--gutter-layout-row);
  width: 100%;
}

.article__meta-item + .article__meta-item::before {
  background: rgb(var(--text-color));
  border-radius: var(--button-border-radius);
  content: "";
  display: inline-block;
  height: 4px;
  -webkit-margin-end: var(--gutter-layout-column);
  margin-inline-end: var(--gutter-layout-column);
  -webkit-margin-start: var(--gutter-layout-column);
  margin-inline-start: var(--gutter-layout-column);
  vertical-align: 2px;
  width: 4px;
}

/* Article content */
.article__inner {
  display: grid;
  grid-gap: var(--vertical-breather);
  gap: var(--vertical-breather);
  grid-auto-flow: row;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 999px) {
  .article__inner {
    -webkit-padding-end: 0;
    padding-inline-end: 0;
  }
}

/* Article content header */
.article__header-content {
  color: rgb(var(--text-color));
  width: 100%;
}

.article__date {
  display: inline-block;
  margin-bottom: var(--gutter-layout-row);
  letter-spacing: normal;
}

.article__title {
  margin: 0 0 var(--gutter-layout-row) 0;
  padding: 0;
}

.article__excerpt {
  margin-bottom: var(--gutter-layout-row);
}

.article__author {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
}

.text--center .article__author {
  justify-content: center;
}

.text--right .article__author {
  justify-content: end;
}

.author-image {
  background-color: rgb(var(--product-background-color));
  border-radius: var(--media-radius);
  display: block;
  height: 48px;
  -webkit-margin-end: var(--gutter-layout-small);
  margin-inline-end: var(--gutter-layout-small);
  overflow: hidden;
  width: 48px;
}

.author-image--small {
  height: 32px;
  width: 32px;
}

.author-image--medium {
  height: 40px;
  width: 40px;
}

.author-image--xlarge {
  height: 56px;
  width: 56px;
}

.author-img {
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
  width: inherit;
}

.article__comments-count {
  display: inline-flex;
  vertical-align: top;
}

.article__comments-count svg {
  -webkit-margin-end: var(--gutter-layout-icon-input-pill);
  margin-inline-end: var(--gutter-layout-icon-input-pill);
  position: relative;
  top: 1px;
}

.article__tags:not(:only-child) {
  padding-top: var(--gutter-layout-row);
}

.article__share-label,
.article__tags-label {
  -webkit-margin-end: var(--gutter-layout-icon-input-pill);
  margin-inline-end: var(--gutter-layout-icon-input-pill);
}

/* Article content related product links */
.unavailable-product-link {
  pointer-events: none;
  border-bottom: 1px dotted rgb(var(--text-color-light));
  text-decoration: none !important;
  cursor: text;
}

/* Article specific styling */
.rte .article--indent-content {
  -webkit-margin-start: var(--space-small);
  margin-inline-start: var(--space-small);
  -webkit-padding-start: var(--space-xlarge);
  padding-inline-start: var(--space-xlarge);
  box-shadow: -1px 0 rgb(var(--border-color-light));
}

.unavailable-product-wrapper {
  cursor: not-allowed;
}

/* Related articles */
.related,
.related-articles {
  display: block;
  overflow: hidden;
  position: relative;
}

@media (max-width: 740px) {
  .related-articles--mobile-slider {
    -webkit-margin-end: calc(var(--container-gutter) * -1);
    margin-inline-end: calc(var(--container-gutter) * -1);
  }

  .related-articles--mobile-slider .related-articles--header {
    width: calc(100% - var(--container-gutter));
  }
}

.card-grid {
  grid-column-gap: var(--gutter-layout-column);
  -moz-column-gap: var(--gutter-layout-column);
  column-gap: var(--gutter-layout-column);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  grid-row-gap: calc(var(--gutter-layout-row) * 2);
  row-gap: calc(var(--gutter-layout-row) * 2);
}

@media (max-width: 740px) {
  .related-articles--mobile-slider .card-grid {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    width: 100%;
  }

  .related-articles--mobile-slider .card-grid::-webkit-scrollbar {
    display: none;
  }
}

.card {
  grid-column: span 6;
  overflow: hidden;
}

.card-subtitle {
  color: rgb(var(--text-color));
  display: block;
  font-weight: var(--text-font-demi-weight, --text-font-bold-weight);
}

.card-subtitle:not(:only-child):not(:last-child) {
  margin-bottom: 6px;
}

.card-title {
  color: rgb(var(--text-color));
  display: block;
  margin-top: 0;
}

.card-title:not(:only-child):not(:last-child) {
  margin-bottom: 8px;
}

.card-text .icon {
  -webkit-margin-start: var(--space-icon-xsmall);
  margin-inline-start: var(--space-icon-xsmall);
}

@media (max-width: 740px) {
  .related-articles--mobile-slider .card {
    display: inline-block;
    margin-right: var(--gutter-layout-column);
    width: calc((100% - var(--gutter-layout-column)) / 1.25);
  }

  .related-articles--mobile-slider .card:last-child {
    margin-right: var(--container-gutter);
  }
}

/* Comment */
.article__comment-list-heading {
  margin-bottom: 30px;
}

.article-comment {
  padding: 24px;
  background: rgb(var(--secondary-background));
  border-radius: var(--block-border-radius-reduced);
}

.article-comment + .article-comment {
  margin-top: 16px;
}

.article-comment__meta {
  display: flex;
  align-items: center;
}

[dir="ltr"] .article-comment__gravatar {
  margin-right: 16px;
}

[dir="rtl"] .article-comment__gravatar {
  margin-left: 16px;
}

.article-comment__gravatar {
  border-radius: 100%;
  width: 40px;
}

.article-comment__author {
  margin-bottom: 0;
}

.article-comment__date {
  display: block;
  margin-top: 2px;
  margin-bottom: 4px;
}

.article-comment__content {
  margin-top: 15px;
}

.article__comment-list + .article__comment-form {
  margin-top: 48px;
}

.article__comment-form-title {
  margin-top: 0;
}

@media screen and (min-width: 741px) {
  .article-comment {
    padding: 32px;
  }

  [dir="ltr"] .article-comment__gravatar {
    margin-right: 21px;
  }

  [dir="rtl"] .article-comment__gravatar {
    margin-left: 21px;
  }

  .article-comment__gravatar {
    width: 48px;
    align-self: flex-start;
  }

  .article__comment-list-heading {
    margin-bottom: 34px;
  }

  .article__comment-list + .article__comment-form {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1000px) {
  .article__comment-box {
    max-width: 748px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Swap right and left sections using data attribute */
.article-container[data-image='right'] {
  grid-template-columns: repeat(12, 1fr);
}

.article-container[data-image='right'] .article-left-section {
  order: 2;
}

.article-container[data-image='right'] .article-right-section {
  order: 1;
}
