/** -------------------------------------------------------------
 ** MAIN COLLECTION FACETING (used on collection and search page)
------------------------------------------------------------- **/
.container-grid {
	display: grid;
	grid-gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
}

/* .product-facet {
  -webkit-margin-after: var(--vertical-breather);
  margin-block-end: var(--vertical-breather);
  -webkit-margin-before: var(--vertical-breather-tight);
  margin-block-start: var(--vertical-breather-tight);
} */

@media screen and (min-width: 1000px) {
	.product-facet {
		grid-template-areas: "collection-aside collection-main";
		grid-template-columns: minmax(240px, 2fr) 10fr;
		width: 100%;
	}

	.product-facet.is-reversed {
		grid-template-areas: "collection-main collection-aside";
		grid-template-columns: 10fr minmax(240px, 2fr);
	}
}

.product-facet.has-hidden-aside {
	grid-template-areas: "collection-main";
	grid-template-columns: 12fr;
}

/** -------------------------------------------------------------
 ** FACETING ASIDE **/

.product-facet__aside {
	grid-area: collection-aside;
}

@media screen and (min-width: 1000px) {
	.product-facet__aside {
		-webkit-margin-end: var(--gutter-layout-large);
		margin-inline-end: var(--gutter-layout-large);
	}

	.product-facet.is-reversed .product-facet__aside {
		-webkit-margin-end: 0;
		margin-inline-end: 0;
		-webkit-margin-start: var(--gutter-layout-large);
		margin-inline-start: var(--gutter-layout-large);
	}

	.product-facet__aside-inner {
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: calc(var(--header-height, 0px) * var(--enable-sticky-header) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) - 10px);
		max-height: calc(100% - var(--custom-offset, 0px) - var(--header-height, 0px) * var(--enable-sticky-header) - var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar));
	}
}

/* ASIDE HEADER */
.product-facet__filters-header {
	border-bottom: 1px solid rgb(var(--border-color));
	-webkit-margin-after: var(--gutter-layout-row);
	margin-block-end: var(--gutter-layout-row);
	-webkit-margin-before: calc(var(--gutter-layout-row));
	margin-block-start: calc(var(--gutter-layout-row));
	-webkit-padding-after: var(--gutter-layout-row);
	padding-block-end: var(--gutter-layout-row);
}

@media screen and (max-width: 999px) {
	.product-facet__filters-header {
		display: none;
	}
}

/* ASIDE FILTERS */
.product-facet__filters:not(.drawer) {
	padding-bottom: var(--gutter-layout-row);
}

.product-facet__filter-item + .product-facet__filter-item {
	border-top: 1px solid rgb(var(--border-color-light));
}

.product-facet__filters:not(.drawer) .product-facet__filter-item:first-child .collapsible-toggle {
	border-top: 0;
	padding-top: 0;
}

.product-facet__filter-item:not(:last-child) .collapsible__content {
	margin-bottom: var(--gutter-layout-row);
}

.product-facet__submit {
	margin-top: var(--gutter-layout-large);
}

/** -------------------------------------------------------------
 ** FACETING MAIN **/

.product-facet__main {
	grid-area: collection-main;
}

.product-facet__meta-bar {
	align-items: center;
	background-color: rgba(var(--background), 0.5);
	display: flex;
	grid-gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	height: auto;
	-webkit-margin-after: 0;
	margin-block-end: 0;
	min-height: var(--header-height-without-bottom-nav);
	-webkit-padding-after: var(--gutter-layout-small);
	padding-block-end: var(--gutter-layout-small);
	-webkit-padding-before: var(--gutter-layout-small);
	padding-block-start: var(--gutter-layout-small);
	position: -webkit-sticky;
	position: sticky;
	top: calc(var(--header-height, 0px) * var(--enable-sticky-header) + var(--announcement-bar-height, 0px) * var(--enable-sticky-announcement-bar) - 0px);
	z-index: 3;
}

@media screen and (max-width: 999px) {
	.product-facet__meta-bar {
		--grid-row-gap: var(--gutter-layout-small);
		flex-direction: column;
	}
}

@supports ((-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%))) {
	.product-facet__meta-bar {
		-webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
		backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
		background-color: rgba(var(--background), 0.5);
	}
}

/* MAIN HEADER */
.product-facet__meta-bar-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.shopify-section--main-search .product-facet__meta-bar-header {
	justify-content: flex-end;
}

@media (min-width: 1000px) {
	.product-facet__meta-bar-header {
		-webkit-padding-end: var(--gutter-layout-row);
		padding-inline-end: var(--gutter-layout-row);
	}
}

.product-facet__heading {
	align-items: center;
	display: inline-flex;
}

.product-facet__title {
	-webkit-margin-after: 0;
	margin-block-end: 0;
	-webkit-margin-end: var(--gutter-layout-column);
	margin-inline-end: var(--gutter-layout-column);
}

.product-facet__inline-subtitle {
	-webkit-margin-end: var(--gutter-layout-column);
	margin-inline-end: var(--gutter-layout-column);
	white-space: nowrap;
}

/* MAIN HEADER > ITEM RESULTS COUNT */
.product-facet__meta-bar-item--count {
	display: flex;
	justify-self: flex-end;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

/* MAIN HEADER > ITEMS WRAPPER */
.product-facet__meta-bar-items-wrapper {
	--grid-column-gap: var(--gutter-layout-icon-input-pill);
	align-items: center;
	display: inline-flex;
	grid-gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	justify-content: flex-end;
}

@media screen and (max-width: 999px) {
	.product-facet__meta-bar-items-wrapper {
		width: 100%;
	}
}

/* ITEM > SORT */
.product-facet__meta-bar-item--sort {
	display: inline-flex;
	flex: 1;
}

.product-facet__sort-by-title {
	-webkit-padding-end: var(--gutter-layout-icon-input-pill);
	padding-inline-end: var(--gutter-layout-icon-input-pill);
}

.product-facet__meta-bar-item--sort .popover-button {
	justify-content: space-between;
}

@media screen and (max-width: 999px) {
	.product-facet__meta-bar-item--sort .popover-container,
	.product-facet__meta-bar-item--sort .popover-button {
		width: 100%;
	}
}

/* ITEM > FILTER */
.product-facet__meta-bar-item--filter svg {
	top: -2px;
}

/* MAIN HEADER > MOBILE: ACTIVE FACET LIST */
.product-facet__active-count {
	-webkit-margin-start: var(--gutter-layout-icon-input-pill);
	margin-inline-start: var(--gutter-layout-icon-input-pill);
}

.product-facet__active-list {
	margin-bottom: var(--gutter-layout-row);
	margin-top: 5px;
}

/* @media screen and (max-width: 999px) {
  .product-facet__active-list {
    -webkit-margin-start: calc(-1 * var(--container-gutter));
    margin-inline-start: calc(-1 * var(--container-gutter));
  }

  .product-facet__active-list .pill-list {
    -webkit-padding-start: 14px;
    padding-inline-start: 14px;
  }
} */

/* MAIN HEADER > COLLECTION DESCRIPTION */
.product-facet__meta-bar-item--description {
	--grid-column-gap: var(--gutter-layout-column);
	align-items: center;
	display: grid;
	grid-gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	grid-column-end: span 12;
	grid-template-columns: repeat(12, 1fr);
	-webkit-margin-after: var(--gutter-layout-row);
	margin-block-end: var(--gutter-layout-row);
	-webkit-margin-before: var(--gutter-layout-row);
	margin-block-start: var(--gutter-layout-row);
}

.product-facet__meta-bar-item--description .product-facet__description {
	grid-column-end: span calc(12 / 1);
}

@media (min-width: 1000px) {
	.product-facet__meta-bar-item--description .product-facet__description {
		-webkit-padding-end: var(--container-gutter);
		padding-inline-end: var(--container-gutter);
	}
}

@media (min-width: 1200px) {
	.product-facet__meta-bar-item--description .product-facet__description {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 0.5));
	}
}

@media (min-width: 1400px) {
	.product-facet__meta-bar-item--description .product-facet__description {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 1));
	}
}

/* MAIN HEADER > COLLECTION TAGS */
.product-facet__meta-bar-item--tags {
	flex: 1 0 100%;
	line-height: 1;
	-webkit-margin-after: var(--gutter-layout-row);
	margin-block-end: var(--gutter-layout-row);
	-webkit-margin-before: var(--gutter-layout-row);
	margin-block-start: var(--gutter-layout-row);
}

/* PRODUCT GRID */
.shopify-section--main-search .product-list,
.shopify-section--main-collection .product-list {
	-webkit-padding-before: calc(var(--gutter-layout-row) / 2);
	padding-block-start: calc(var(--gutter-layout-row) / 2);
}

.shopify-section--main-search .product-list__inner,
.shopify-section--main-collection .product-list__inner {
	--grid-column-gap: var(--gutter-product-column);
	--grid-row-gap: var(--gutter-product-row);
	--product-list-block-spacing: var(--grid-row-gap);
	--product-list-column-gap: var(--grid-column-gap);
	grid-template-columns: repeat(12, 1fr);
	overflow: visible;
}

@media (max-width: 999px) {
	.shopify-section--main-search .product-list__inner,
	.shopify-section--main-collection .product-list__inner {
		margin-inline: calc(-1 * var(--container-gutter) / 2);
	}
}

.shopify-section--main-search .product-list__inner .product-item,
.shopify-section--main-collection .product-list__inner .product-item {
	grid-column-end: span calc(12 / var(--grid-columns));
}

@media (max-width: 999px) {
	.shopify-section--main-search .product-list__inner .product-item.product-item--promotion,
	.shopify-section--main-collection .product-list__inner .product-item.product-item--promotion {
		grid-column-end: span calc(12 / 1);
	}
}

@media (min-width: 741px) {
	.shopify-section--main-search .product-list__inner .product-item,
	.shopify-section--main-search .collection-grid-has-four .product-list__inner .product-item,
	.shopify-section--main-collection .product-list__inner .product-item,
	.shopify-section--main-collection .collection-grid-has-four .product-list__inner .product-item {
		grid-column-end: span calc(12 / 3);
	}
}

@media (min-width: 1200px) {
	.shopify-section--main-search .product-list__inner .product-item,
	.shopify-section--main-collection .product-list__inner .product-item {
		grid-column-end: span calc(12 / var(--grid-columns-desktop));
	}

	.shopify-section--main-search .product-list__inner .product-item,
	.shopify-section--main-collection .collection-grid-has-four .product-list__inner .product-item {
		grid-column-end: span calc(12 / 4);
	}
}

.product-facet__collection-card-image-wrapper {
	background-color: rgb(var(--product-background-color));
	border-radius: var(--block-border-radius);
	grid-column-end: span calc(12 / 1);
	overflow: hidden;
}

@media (max-width: 740px) {
	.product-facet__collection-card-image-wrapper {
		-webkit-margin-after: calc(-1 * (var(--gutter-layout-row) / 2));
		margin-block-end: calc(-1 * (var(--gutter-layout-row) / 2));
		-webkit-margin-before: calc(-1 * (var(--gutter-layout-row) / 2));
		margin-block-start: calc(-1 * (var(--gutter-layout-row) / 2));
	}
}

@media (min-width: 741px) {
	.product-facet__collection-card-image-wrapper {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 1));
	}

	.collection-grid-has-four .product-facet__collection-card-image-wrapper {
		grid-column-end: span calc(12 / 2);
	}

	.shopify-section--main-search .product-list__inner .product-item:first-of-type:not(.product-item--promotion),
	.shopify-section--main-collection .product-list__inner .product-item:first-of-type:not(.product-item--promotion) {
		order: -1;
	}
}

@media (min-width: 1200px) {
	.product-facet__collection-card-image-wrapper {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 1));
	}

	.collection-grid-has-four .product-facet__collection-card-image-wrapper {
		grid-column-end: span calc(12 / 2);
	}
}

.product-facet__collection-promotion-wrapper {
	grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop)));
}

/** -------------------------------------------------------------
 ** FACETING FOOTER **/

.product-facet__footer {
	--grid-column-gap: var(--gutter-layout-column);
	align-items: center;
	display: grid;
	grid-gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	gap: var(--grid-row-gap, 0px) var(--grid-column-gap, 0px);
	grid-column-end: span 12;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
	-webkit-margin-before: var(--vertical-breather);
	margin-block-start: var(--vertical-breather);
}

.product-facet__footer-container {
	grid-column-end: span calc(12 / 1);
}

@media (min-width: 1000px) {
	.product-facet__footer-container {
		-webkit-margin-end: var(--container-gutter);
		margin-inline-end: var(--container-gutter);
	}
}

@media (min-width: 1200px) {
	.product-facet__footer-container {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 0.5));
	}
}

@media (min-width: 1400px) {
	.product-facet__footer-container {
		grid-column-end: span calc((12 / var(--grid-columns-desktop)) * (var(--grid-columns-desktop) - 1));
	}
}

.product-facet__footer.text--center .product-facet__footer-container {
	-webkit-margin-end: auto;
	margin-inline-end: auto;
	-webkit-margin-start: auto;
	margin-inline-start: auto;
	grid-column: 3 / -3;
}

/* FOOTER HEADER */
.product-facet__footer-header {
	position: relative;
}

.product-facet__footer-header:not(:only-child) {
	margin-bottom: var(--gutter-layout-row);
}

[dir="ltr"] .product-footer-facet__subtitle {
	left: calc(var(--container-gutter) / 2);
}

[dir="rtl"] .product-footer-facet__subtitle {
	right: calc(var(--container-gutter) / 2);
}

.product-footer-facet__subtitle {
	position: absolute;
	top: -102%;
	width: 100%;
	z-index: -1;
}

.product-footer-facet__title {
	margin: 4% 0 0;
}

/* FOOTER DESCRIPTION - SHORT */
.product-facet__footer-description-short {
}

/* FOOTER DESCRIPTION - FULL */
.product-facet__footer-description-full {
}

/* FOOTER DESCRIPTION */
.product-facet__footer-description {
}

/** -------------------------------------------------------------
 ** SCALE ELEMENTS ON SCROLL
------------------------------------------------------------- **/
/* .scrolled-past-header .product-facet__title,
.scrolled-past-header .product-facet__inline-subtitle,
.scrolled-past-header .product-facet__meta-bar-item--count {
  transition: font 0.3s ease-in-out;
} */
