.media-with-overlays {
	border-bottom-left-radius: calc(var(--media-radius) / 2);
	border-bottom-right-radius: calc(var(--media-radius) / 2);
}

.overide-corner-radius.media-with-overlays {
	border-radius: 0;
}

.media-with-overlays__container {
	position: relative;
}

.section-link {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.media-overlay {
	--image-height: auto;
	background: rgb(var(--section-overlay-color));
	color: rgb(var(--text-color));
	display: flex;
	min-height: var(--image-height, 100%);
	position: relative;
}

.media-overlay--small {
	--image-height: 375px;
}

.media-overlay--medium {
	--image-height: 500px;
}

.media-overlay--large {
	--image-height: 600px;
}

.media-overlay::before {
	content: "";
	display: block;
	padding-bottom: calc(100% / var(--image-aspect-ratio));
	width: 0;
}

.media-overlay__media-wrapper,
.media-overlay__media {
	display: block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

[dir="ltr"] .media-overlay__media-wrapper,
[dir="ltr"] .image-overlay__media {
	left: 0;
}

[dir="rtl"] .media-overlay__media-wrapper,
[dir="rtl"] .media-overlay__media {
	right: 0;
}

.media-overlay,
.media-overlay__media-wrapper,
.media-overlay__media-wrapper::after,
.media-overlay__media {
	border-bottom-left-radius: var(--media-radius);
	border-bottom-right-radius: var(--media-radius);
	overflow: hidden;
}

.section--boxed .media-overlay,
.section--boxed .media-overlay__media-wrapper,
.section--boxed .media-overlay__media-wrapper::after,
.section--boxed .media-overlay__media {
	border-radius: var(--media-radius);
}

.overide-corner-radius .media-overlay,
.overide-corner-radius .media-overlay__media-wrapper,
.overide-corner-radius .media-overlay__media-wrapper::after,
.overide-corner-radius .media-overlay__media {
	border-radius: 0;
}

[dir="ltr"] .media-overlay__media-wrapper::after {
	left: 0;
}

[dir="rtl"] .media-overlay__media-wrapper::after {
	right: 0;
}

.media-overlay__media-wrapper::after {
	background: rgba(var(--section-overlay-color), var(--section-overlay-opacity));
	content: "";
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

@supports ((-webkit-backdrop-filter: blur(var(--section-media_tinted, 3px))) or (backdrop-filter: blur(var(--section-media_tinted, 3px)))) {
	.overlay--tinted.media-overlay__media-wrapper::after {
		-webkit-backdrop-filter: blur(var(--section-media_tinted, 3px));
		backdrop-filter: blur(var(--section-media_tinted, 3px));
	}
}

.media-overlay__media {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.contain-media.media-overlay__media {
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
}

.media-overlay__media--placeholder {
	background: rgb(var(--secondary-background));
}

.media-overlay__content-wrapper {
	align-items: var(--section-items-alignment);
	display: flex;
	height: 100%;
	justify-content: center;
	min-height: var(--image-height);
	padding: var(--vertical-breather) 0;
	position: relative;
	width: 100%;
}

.media-overlay__text-container {
	margin-top: 24px;
}

.media-overlay__text-container .button-wrapper:only-child {
	margin-top: 32px;
}

@media screen and (min-width: 741px) {
	.media-overlay--small {
		--image-height: 400px;
	}

	.media-overlay--medium {
		--image-height: 550px;
	}

	.media-overlay--large {
		--image-height: 700px;
	}
}

/**
 * -------------------------------------------------------------
 * CONTENT BOX
 *
 * In Focal, a lot of content (especially on home page sections) are aligned
 * according a 10 columns grid (20 on tablet and higher). This special content
 * box has different alignments and three variation styles. As it is used
 * throughout the theme, we create an abstraction here.
 * -------------------------------------------------------------
 */

.content-box {
	position: relative;
	z-index: 1;
}

/* Text alignment variations */

.content-box--text-center {
	text-align: center;
}

[dir="ltr"] .content-box--text-right {
	text-align: right;
}

[dir="rtl"] .content-box--text-right {
	text-align: left;
}

@media screen and (max-width: 740px) {
	/*
     Small and medium variation on mobile have some extra spacing and are not directly based on the grid. We also
     apply extra margin if the content box is contained within a flushed mobile container
   */
	.content-box--small,
	.content-box--medium,
	.container--flush .content-box--large {
		margin-left: 0;
		margin-right: 0;
	}

	/* Positional variation */

	[dir="ltr"] .content-box--left {
		margin-right: auto;
	}

	[dir="rtl"] .content-box--left {
		margin-left: auto;
	}

	[dir="ltr"] .content-box--right {
		margin-left: auto;
	}

	[dir="rtl"] .content-box--right {
		margin-right: auto;
	}
}

[dir="ltr"] .content-box--left .content-image {
	margin-right: auto;
}

[dir="rtl"] .content-box--left .content-image {
	margin-left: auto;
}

[dir="ltr"] .content-box--right .content-image {
	margin-left: auto;
}

[dir="rtl"] .content-box--right .content-image {
	margin-right: auto;
}

@media screen and (min-width: 741px) {
	/* On tablet, all sizes are shifted by one column left and right, and span a different number of columns */
	.content-box {
		margin-left: auto;
		margin-right: auto;
		width: calc(var(--grid-column-width) * 16 + var(--grid-gap) * 15);
	}

	.content-box--medium {
		width: calc(var(--grid-column-width) * 14 + var(--grid-gap) * 13);
	}

	.content-box--small {
		width: calc(var(--grid-column-width) * 10 + var(--grid-gap) * 9);
	}

	.content-box--fill {
		width: 100% !important;
	}

	/* Positional variations */
	/* [dir="ltr"] .content-box--left {
		margin-left: calc(var(--grid-column-width) + var(--grid-gap));
	}

	[dir="rtl"] .content-box--left {
		margin-right: calc(var(--grid-column-width) + var(--grid-gap));
	}

	[dir="ltr"] .content-box--right {
		margin-right: calc(var(--grid-column-width) + var(--grid-gap));
	}

	[dir="rtl"] .content-box--right {
		margin-left: calc(var(--grid-column-width) + var(--grid-gap));
	}
} */

	[dir="ltr"] .content-box--left {
		margin-left: 0;
	}

	[dir="rtl"] .content-box--left {
		margin-right: 0;
	}

	[dir="ltr"] .content-box--right {
		margin-right: 0;
	}

	[dir="rtl"] .content-box--right {
		margin-left: 0;
	}
}

@media screen and (min-width: 1000px) {
	.content-box {
		width: calc(var(--grid-column-width) * 14 + var(--grid-gap) * 13);
	}

	.content-box--medium {
		width: calc(var(--grid-column-width) * 10 + var(--grid-gap) * 9);
	}

	.content-box--small {
		width: calc(var(--grid-column-width) * 8 + var(--grid-gap) * 7);
	}
}

@media screen and (min-width: 1400px) {
	.content-box--small {
		width: calc(var(--grid-column-width) * 7 + var(--grid-gap) * 6);
	}
}
