.image-with-text {
  /* Thanks to the ratio of the image and the height of the div we can calculate the height taken by the image */
  --image-height: min(var(--image-max-height), (100vw - var(--container-gutter) * 4) * (1 / var(--image-aspect-ratio)));
  display: block;
  position: relative;
  text-align: center;
}

[dir="ltr"] .image-with-text::before {
  left: 0;
}

[dir="rtl"] .image-with-text::before {
  right: 0;
}

.image-with-text::before {
  background: rgb(var(--section-accent-background));
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.image-with-text--overlap-image::before {
  height: var(--image-height);
}

.image-with-text--overlap-text::before {
  --image-height-difference: calc(100% - var(--image-height));
  --image-height-difference-abs: max(var(--image-height-difference), -1 * var(--image-height-difference));
  bottom: 0;
  height: var(--image-height-difference-abs);
  top: auto;
  /* When we overlap the text we actually take the full height minus image height */
}

.image-with-text__image-wrapper {
  border-radius: var(--block-border-radius-reduced);
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  /* Creating new stacking context is needed on Safari to apply the border radius */
}

.image-with-text__image {
  display: block;
  position: relative;
  width: 100%;
}

.image-with-text__image:not([hidden]) {
  z-index: 1;
}

/* Next images are resized to keep the format of the first image */
[dir="ltr"] .image-with-text__image:not(:first-child) {
  left: 0;
}

[dir="rtl"] .image-with-text__image:not(:first-child) {
  right: 0;
}

.image-with-text__image:not(:first-child) {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-with-text__image[hidden] {
  transition: visibility 0.6s linear;
  visibility: hidden;
  z-index: -1;
}

.image-with-text__wrapper {
  overflow: hidden;
}

/* We want to have the div to have the height of the tallest element, so we align them horizontally */
.image-with-text__content-list {
  display: flex;
  flex-wrap: nowrap;
}

.image-with-text__content {
  display: block;
  flex-shrink: 0;
  order: 0;
  /* Force the active to be the visible one */
  width: 100%;
}

.image-with-text__content[hidden] {
  visibility: hidden;
  order: 1;
}

.image-with-text__navigation {
  align-items: flex-start;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

@-webkit-keyframes navigationItemAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes navigationItemAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.image-with-text__navigation-item {
  position: relative;
}

.image-with-text__navigation-item::before,
.image-with-text__navigation-item::after {
  background: rgba(var(--text-color), 0.15);
  content: "";
  display: block;
  height: 2px;
  margin-bottom: 16px;
  width: 100%;
}

[dir="ltr"] .image-with-text__navigation-item::after {
  left: 0;
}

[dir="rtl"] .image-with-text__navigation-item::after {
  right: 0;
}

.image-with-text__navigation-item::after {
  background: rgb(var(--text-color));
  position: absolute;
  top: 0;
  transform-origin: var(--transform-origin-start);
  transform: scaleX(0);
}

.image-with-text__navigation-item[aria-current="true"]::after {
  -webkit-animation-play-state: var(--section-animation-play-state, running);
  animation-play-state: var(--section-animation-play-state, running);
  -webkit-animation: navigationItemAnimation var(--section-autoplay-duration) linear;
  animation: navigationItemAnimation var(--section-autoplay-duration) linear;
}

@media screen and (max-width: 999px) {

  /* Extra spacing just for the pocket devices */
  .image-with-text {
    padding: var(--vertical-breather) var(--container-gutter);
  }

  .image-with-text--boxed {
    padding: var(--container-gutter);
  }
}

@media screen and (min-width: 741px) and (max-width: 999px) {
  .image-with-text {
    padding: var(--vertical-breather) calc((var(--grid-column-width) + var(--grid-gap)) * 2);
  }

  .image-with-text--boxed {
    padding: var(--vertical-breather) calc((var(--grid-column-width) + var(--grid-gap)) * 2 + var(--container-gutter));
  }

  .image-with-text__image-wrapper {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1000px) {
  [dir="ltr"] .image-with-text::before {
    left: auto;
    right: 0;
  }

  [dir="rtl"] .image-with-text::before {
    left: 0;
    right: auto;
  }

  .image-with-text::before {
    height: 100%;
    top: 0;
    width: calc(var(--grid-column-width) * 13 + (var(--grid-gap) * 12) + var(--container-outer-margin));
  }

  [dir="ltr"] .image-with-text--reverse:not(.image-with-text--overlap-image)::before,
  [dir="ltr"] .image-with-text--overlap-image:not(.image-with-text--reverse)::before {
    left: 0;
    right: auto;
  }

  [dir="rtl"] .image-with-text--reverse:not(.image-with-text--overlap-image)::before,
  [dir="rtl"] .image-with-text--overlap-image:not(.image-with-text--reverse)::before {
    left: auto;
    right: 0;
  }

  .image-with-text--overlap-image::before {
    width: calc(var(--grid-column-width) * 7 + (var(--grid-gap) * 6) + var(--container-outer-margin));
  }

  .image-with-text--overlap-both::before {
    width: 100% !important;
    /* When it overlap both we force it to be 100% */
  }

  .image-with-text__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--vertical-breather) 0;
  }

  .image-with-text--reverse .image-with-text__wrapper {
    flex-direction: row-reverse;
  }

  .image-with-text__image-wrapper {
    -webkit-margin-start: calc(var(--grid-column-width) + var(--grid-gap));
    margin-inline-start: calc(var(--grid-column-width) + var(--grid-gap));
  }

  .image-with-text__image-wrapper {
    margin-bottom: 0;
    width: calc(var(--grid-column-width) * 8 + (var(--grid-gap) * 7));
  }

  .image-with-text--reverse .image-with-text__image-wrapper {
    -webkit-margin-end: calc(var(--grid-column-width) + var(--grid-gap));
    margin-inline-end: calc(var(--grid-column-width) + var(--grid-gap));
    -webkit-margin-start: 0;
    margin-inline-start: 0;
  }

  .image-with-text__content-wrapper {
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    width: calc(var(--grid-column-width) * 9 + (var(--grid-gap) * 8));
  }
}

@media screen and (min-width: 1200px) {
  .image-with-text__navigation {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1400px) {
  .image-with-text__content-wrapper {
    -webkit-margin-end: calc((var(--grid-column-width) + var(--grid-gap)) * 2);
    margin-inline-end: calc((var(--grid-column-width) + var(--grid-gap)) * 2);
  }

  .image-with-text__content-wrapper {
    width: calc(var(--grid-column-width) * 7 + (var(--grid-gap) * 6));
  }
}
